html {
  background-color: #fae5cf;
}

.App {
  font-family: 'Oswald', serif;
}

.header {
  text-align: center;
  color: #670067;
  border-radius: 25px;
  margin-top: 40px;
}

.taskBar {
  text-align: center;
}

#newTask {
  width: 300px;
  height: 30px;
  border-radius: 25px;
  border: #670067 solid;
  background-color: #fae5cf;
  font-family: 'Oswald', serif;
  text-align: center;
  color: #670067;
  font-size: 15px;
  align-items: center;
}

#newTask::placeholder {
  color: #670067;
  opacity: 1;
}

#button {
  height: 35px;
  width: 100px;
  border-radius: 25px;
  border: #670067 solid;
  background-color: #fae5cf;
  color: #670067;
  font-family: 'Oswald', serif;
  display: block;
  margin: 10px auto;
}

#button:hover {
  color: #fae5cf;
  background-color: #670067;
}

h1 {
  text-align: center;
}

.todo {
  font-size: 16px;
  margin-right: 35px;
  margin-top: 25px;
  text-align: center;
  color: #670067;
  list-style-type: none;
}

.complete {
  height: 30px;
  width: 80px;
  border-radius: 25px;
  border: #670067 solid;
  background-color: #fae5cf;
  color: #670067;
  font-family: 'Oswald', serif;
  font-size: 15px;
}

.complete:hover {
  color: #fae5cf;
  background-color: #670067;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  font-style: italic;
}

.remove {
  height: 30px;
  width: 80px;
  border-radius: 25px;
  border: #670067 solid;
  background-color: #fae5cf;
  color: #670067;
  font-family: 'Oswald', serif;
  font-size: 15px;
}

.remove:hover {
  color: #fae5cf;
  background-color: #670067;
}