html {
  background-color: #f1f5dc;
}

.App {
  font-family: 'Oswald', serif;
}

.header {
  text-align: center;
  color: #670067;
  border-radius: 25px;
}

.taskBar {
  text-align: center;
  margin-top: 50px
}

#newTask {
  width: 300px;
  height: 30px;
  border-radius: 25px;
  border: #670067 solid;
  background-color: #f1f5dc;
  font-family: 'Oswald', serif;
  text-align: center;
}

#button {
  height: 35px;
  width: 100px;
  border-radius: 25px;
  border: #670067 solid;
  background-color: #f1f5dc;
  color: #670067;
  font-family: 'Oswald', serif;
}

h1 {
  text-align: center;
}

.todo {
  margin-top: 90px;
  text-align: center;
  color: #670067;
}

.add {
  height: 40px;
  width: 80px;
  border-radius: 25px;
  border: #670067 solid;
  background-color: #f1f5dc;
  color: #670067;
  font-family: 'Oswald', serif;
  font-size: 20px;
}

.remove {
  height: 40px;
  width: 80px;
  border-radius: 25px;
  border: #670067 solid;
  background-color: #f1f5dc;
  color: #670067;
  font-family: 'Oswald', serif;
  font-size: 20px;
}